<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body{
      margin: 0;
      padding: 0;
      background: skyblue;
      color: #fff;
    }
    h1{
      text-align: center;
      font-size: 30px;
    }
    p{
      text-align: center;
      font-size: 25px;
    }
    button{
      padding: 10px;
      border-radius: 5px;
      display: block;
      margin: 10px auto;
    }
    button a{
      text-decoration: none;
      font-size: 16px;
    }

  </style>
</head>
<body>
  <h1>Hello~~~Welcome to the world coolest website~~</h1>
  <p>click below to the todoList</p>
  <button><a href="/todo">Todo</a></button>
</body>
</html>